@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #000;
}

.font-londrina {
    font-family: 'Londrina Solid', cursive;
}

.font-gabarito {
    font-family: 'Gabarito', sans-serif;
}

.font-quicksand {
    font-family: 'Quicksand', sans-serif;
}

/* Kustomisasi untuk efek outline/stroke pada teks (untuk heading) */
.text-outline-effect {
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

/* Kustomisasi untuk efek outline/stroke pada teks (untuk paragraf - ukuran lebih tipis) */
.text-outline-effect-sm {
    text-shadow:
        0.5px 0.5px 0px black,
        -0.5px -0.5px 0px black,
        0.5px -0.5px 0px black,
        -0.5px 0.5px 0px black;
}

/* Opsi lain jika ingin stroke lebih tebal (bisa gunakan kelas terpisah) */
.text-outline-effect-md {
    text-shadow:
        1.5px 1.5px 0px black,
        -1.5px -1.5px 0px black,
        1.5px -1.5px 0px black,
        -1.5px 1.5px 0px black;
}